//colors
$color-gray: #e7e7e7;
$color-gray-1: #777;
$color-primary-lighten: rgba(126, 213, 111, 0.8);
$color-primary-darken: rgba(40, 180, 133, 0.8);
$color-white: #fff;
$color-black: #000;
$color-orange-light: #ffb900;
$color-orange-dark: #ff7730;
$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;
//grid

$grid-width: 117rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
