.popup {
  height: 100vh;
  width: 100%;
  // background-color: rgba($color-black, 0.9);
  z-index: 2000;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  backdrop-filter: blur(10px);

  @supports (backdrop-filter: blur(10px)) {
    backdrop-filter: blur(10px);
  }

  &__wrapper {
    @include centrelize;
    transform: translate(-50%, -50%) scale(0.1);
    background-color: $color-white;
    width: 75%;
    display: table;
    border-radius: 3px;
    @include box-shadow-m;
    transition: all 0.5s;
  }

  &__image-box {
    width: 33.33333%;
    display: table-cell;
  }

  &__content {
    width: 66.66667;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }

  &__image {
    width: 100%;
    display: block;
  }

  &__text {
    font-size: 1.4rem;
    column-count: 2;
    column-gap: 2rem;
    column-rule: 1px solid $color-black;
    hyphens: auto;
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__wrapper {
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &,
    &:link,
    &:visited {
      text-decoration: none;
      position: absolute;
      top: 2rem;
      right: 3rem;
      font-size: 3rem;
      line-height: 1;
      transition: all 0.2s;
    }

    &:active {
      transform: translateY(0.2rem);
    }

    &:hover {
      color: $color-primary-darken;
    }
  }
}
