@keyframes left_to_right {
  0% {
    transform: translateX(-20rem);
    opacity: 0;
  }

  70% {
    transform: translateX(6rem);
  }

  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

@keyframes right_to_left {
  0% {
    transform: translateX(20rem);
    opacity: 0;
  }

  70% {
    transform: translateX(-6rem);
  }

  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

@keyframes bottom_to_up {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }

  70% {
    transform: translateY(-1rem);
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}
