.section-about {
  padding: 16rem 16rem 30rem 16rem;
  background-color: $color-gray;
  margin-top: -12.5rem;
}

.about {
  &__paragraph {
    font-size: 1.6rem;
  }

  &__images {
    position: relative;
  }

  &__img {
    width: 55%;
    position: absolute;
    @include box-shadow-m;
    transition: all 0.2s;
    backface-visibility: hidden;
    outline-offset: 1.5rem;

    &-1 {
      top: 8rem;
      left: 8rem;
    }
    &-2 {
      top: 0rem;
      left: 20rem;
    }
    &-3 {
      top: -5rem;
      left: 0rem;
    }

    &:hover {
      outline: 1rem solid $color-primary-darken;
      z-index: 10;
      transform: scale(1.3) translateX(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
    }

    &:not(:hover) {
      transform: scale(0.95);
    }
  }
}

.section-feutures {
  padding: 20rem;
  background-image: linear-gradient(
      to top right,
      $color-primary-darken,
      $color-primary-lighten
    ),
    url('../img/nat-4.jpg');
  background-size: cover;
  transform: skewY(-6deg);
  margin-top: -12rem;

  & > * {
    transform: skewY(6deg);
  }
}

.section-tours {
  padding: 16rem;
  background-color: $color-gray;
  margin-top: -7.5rem;
}

.section-story {
  position: relative;
  padding: 5rem 20rem 10rem 20rem;
}

.section-book {
  padding: 16rem;
  background-image: linear-gradient(
    to top right,
    $color-primary-darken,
    $color-primary-lighten
  );
}
